{{template templates.head mode}}

<html>
<body>

<p>Hello {{teamName}}</p>

<ul>
{{#each links}}
    <li> <a href="{{this}}">{{this}}</a> </li>
{{/each}}
</ul>

</body>
</html>

{{template templates.footer mode}}
